<div id="wrapper-selection-menu">

  <div id="selection-menu-header">
    <img class="selection-menu-header-logo" src="../assets/plista-logo.jpg" alt="plista logo">
    <div class="selection-menu-header-text">
      <span>Code <br></span>
      <span>Challenge</span>
    </div>
  </div>

  <a [routerLink]="['/tableView']">
    <div class="selection-menu-options-layout selection-menu-table-option">
      <div class="format-option-text">Table<br>View</div>
    </div>
  </a>

  <a [routerLink]="['/editView']">
    <div class="selection-menu-options-layout selection-menu-edit-option">
      <div class="format-option-text">Edit<br>View</div>
    </div>
  </a>

  <div id="autor-name">by Konstantin Martin</div>

</div>
